* {
    margin: 0px;
}

body {
    background-color: rgb(216, 216, 216);
}



.post-img {
    width: 400px;
}

.blog-post-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}