* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}



.post-img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.blog-post-card {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 20);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
}

.post-title {
    margin: 0 5%;
    margin-bottom: 10px;
    color: rgb(32, 32, 32);
}

.post-content {
    padding: 15px;
    text-align: center;
}

.post-excerpt {
    color: rgb(112, 112, 112);
    margin-bottom: 20px;
}

.read-more {
    color: white;
    background-color: rgb(185, 185, 185);
    
    padding: 10px;
    margin: 50px;



}