* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}



.post-img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.blog-post-card {
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 20);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
}



.post-content {
    padding: 15px;
    text-align: center;
}