* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(0deg, rgb(13, 31, 44), rgb(109, 170, 214));
    min
}

header {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(13, 31, 44);
    border-bottom: 2px solid rgb(48, 54, 79);
    height: 90px;
    
}

#pageLogo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50px;
    
}

#headerText {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.navBar {
    position: fixed;
    transition: all 0.2s ease;
    background-color: rgb(48, 54, 79);
    height: 100vh;
    width: 100px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.navBar img{
    filter: brightness(0) saturate(100%) invert(88%) sepia(27%) saturate(209%) hue-rotate(134deg) brightness(100%) contrast(94%);
}

.navBar:hover{
    width: 200px;
}

.navItem.inNavItem{
    background-color: rgba(172, 186, 196, 0.1);
    border-radius: 5px;
}

.navItem:hover{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(172, 186, 196, 0.2) !important;
    border-radius: 5px;
}

.navItem {
    margin: 10px;
    padding: 10px;
}




.navIcon {
    width: 50px;
    margin-left: 4px;
    height: auto;
    display: inline-block;
    fill: rgb(172, 186, 196);
}



.navText{
    display: none;
    margin-left: 12px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
}

#configSep {
    display: inline-block;
    height: 40vh;
}

.navText.transparent{
    opacity: 0;
    transition: all 0.3s ease;
}

.navText.opaque{
    opacity: 1;
}

.navText.hovered{
    display: inline-block;
    
    margin-left: 20px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
    
}