* {
    margin: 0;
    font-family: sans-serif;
    

}

header {
    background-color: rgb(172, 186, 196);
    text-align: center;
}

.navBar {
    display: inline-block;
    background-color: rgb(48, 54, 79);
    height: 100vh;
    width: 100px;
    overflow: hidden;
}

.navBar:{
    display: inline-block;
    background-color: rgb(48, 54, 79);
    height: 100vh;
    width: 100px;
    overflow: hidden;
}



.navItem {
    margin: 10px;
    padding: 10px;
}


.navIcon {
    width: 50px;
    height: auto;
    display: inline-block;
    fill: rgb(172, 186, 196);
}

.navText{
    display: none;
    margin-left: 20px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
    
}



.navText.hovered{
    display: inline-block;
    margin-left: 20px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
    
}