* {
    margin: 0;
}

.navBar {
    background-color: aliceblue;
    
}

.navItem {

}



.navIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
}



.navText{
    display: inline-block;
}
