* {
    margin: 0;
    font-family:

header {

}

.navBar {
    display: inline-block;
    background-color: rgb(48, 54, 79);
    height: 100vh;
    overflow: hidden;
}

.navItem {
    margin: 10px;
    padding: 10px;
}



.navIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
}



.navText{
    display: inline-block;
}
