* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(172, 186, 196);
}

header {
    background-color: rgb(172, 186, 196);
    border-bottom: 2px solid rgb(48, 54, 79);
    nav
    text-align: center;
}

.navBar {
    transition: all 0.2s ease;
    display: inline-block;
    background-color: rgb(48, 54, 79);
    height: 100vh;
    width: 100px;
    overflow: hidden;
}

.navBar:hover{
    width: 200px;
}



.navItem:hover{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(172, 186, 196, 0.1);
}

.navItem {
    margin: 10px;
    padding: 10px;
}


.navIcon {
    width: 50px;
    height: auto;
    display: inline-block;
    fill: rgb(172, 186, 196);
}

.navText{
    display: none;
    margin-left: 20px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
    
}

.navText.transparent{
    opacity: 0;
    transition: all 0.3s ease;
}

.navText.opaque{
    opacity: 1;
}

.navText.hovered{
    display: inline-block;
    
    margin-left: 20px;
    color: rgb(172, 186, 196);
    transform: translate(0, -60%);
    
}